@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@import url("https://freshstyleui.netlify.app/styles.css");

* {
  margin: 0;
  padding: 0;
}
.app-header {
  text-align: center;
}

.Header {
  background-color: wheat;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
.Search {
  margin-left: 2rem;
  margin-right: 2rem;
}
.Body {
  margin-top: 4rem;
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
}

input[type="text"]:focus {
  background-color: lightblue;
  border: 3px solid #555;
}
